__pycache__/
saves/
saves_old/
/data/
!/data/download_datasets.py
!/data/datasets_info_live.json
!/data/data_utils.py
!/data/*/idx_to_class.json
!/data/*/info.jsonl
/jsons/sample_opts_ids.json
/jsons/args_ids.json